<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ParkingZoneApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ParkingZoneApp.styles.css" asp-append-version="true" />
</head>
<body style="font-family:Bahnschrift; background-color: #fff5d7;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav" style="margin:15px">
                        <li>
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="panel-btn" asp-area="Admin" asp-controller="ParkingZone" asp-action="Index">Admin Panel</a>
                            }
                        </li>
                        <li>
                            @if (User.IsInRole("User"))
                            {
                                <a class="navbar-brand" asp-area="" asp-controller="Reservation" asp-action="FreeSlots">Reservation</a>
                            }
                        </li>
                        <li>
                            @if (User.IsInRole("User"))
                            {
                                <a class="navbar-brand" asp-area="User" asp-controller="Reservation" asp-action="Index">My reservations</a>
                            }
                            </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>
    .panel-btn{
        font-weight: bold;
        text-decoration: none;
        color: white;
        padding: 15px;
        border-radius: 20px;
        background: #0d6efd;
    }

    .panel-btn:hover {
        background-color: #0d6efd;
        color: white;
        border-color: #0d6efd; 
    }
</style>