@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ParkingZoneApp.ViewModels.ParkingZoneVMs.GetCurrentCarsVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-family: Bahnschrift">List of cars for @ViewData["ZoneName"]</h1>

<style>
    .crazy-card {
        color: #fff;
        border: 2px solid #fff;
        width: 30%;
        font-size: 25px;
        font-family: Bahnschrift;
        border-radius: 25px;
        background-color: #008080;
        margin: 10px;
        padding: 20px;
    }
</style>

@if(Model.Count() == 0)
{
    <h2 style="color: orangered">No current cars available</h2>
}
<div class="card-group">
    @foreach (var item in Model)
    {
        <div class="crazy-card">
            <h3>Slot Number : @Html.DisplayFor(modelItem => item.Number)</h3>
            <h3>Vehicle Number : @Html.DisplayFor(modelItem => item.VehicleNumber)</h3>
        </div>
        <br />
    }
</div>
