@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ParkingZoneApp.Areas.Admin.ViewModels.ParkingZoneEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<hr/>
<h4>ParkingZone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="parkingZone.Id" />
            <div class="form-group">
                <label asp-for="parkingZone.Name" class="control-label"></label>
                <input asp-for="parkingZone.Name" class="form-control" />
                <span asp-validation-for="parkingZone.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="parkingZone.Address" class="control-label"></label>
                <input asp-for="parkingZone.Address" class="form-control" />
                <span asp-validation-for="parkingZone.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="parkingZone.CreatedDate" class="control-label"></label>
                <input asp-for="parkingZone.CreatedDate" class="form-control" readonly />
                <span asp-validation-for="parkingZone.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br/> 
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
