@using ParkingZoneApp.Enums
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ParkingZoneApp.ViewModels.ParkingSlotVMs.EditVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit action</h1>
<h4>Parking Slot</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ParkingZoneId" />
            <input type="hidden" asp-for="Id" />
            <div>
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" type="number" min="1" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <br />
            <div>
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-select" asp-items="Html.GetEnumSelectList<SlotCategory>()"></select>
            </div>
            <br />
            <div>
                <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" /> |
                <a asp-route-zoneId="@Model.ParkingZoneId" asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>