@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ParkingZoneApp.ViewModels.ReservationVMs.ProlongVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Prolong your reservation</h4>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("Index", "Home", new { area = "" })';
        }, 3000);
    </script>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Prolong">
            <input type="hidden" value="@Model.Id" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div>
                    <label asp-for="ProlongDuration" class="control-label">Prolong time</label>
                    <input asp-for="ProlongDuration" class="form-control" min="1" />
                    <span asp-validation-for="ProlongDuration" class="text-danger"></span>
                </div>
                <br />
                <div>
                    <label asp-for="StartTime" class="control-label">Starting time</label>
                    <input asp-for="StartTime" class="form-control" disabled />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <br />
                <div>
                    <label asp-for="FinishTime" class="control-label">Finish time</label>
                    <input asp-for="FinishTime" class="form-control" disabled />
                    <span asp-validation-for="FinishTime" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div>
                <input type="submit" value="Prolong" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>